<div class="card">
    <div class="card-header post-title">
        {{post.title}}
    </div>
    <div class="card-body">
        <p>
            {{post.body}}
        </p>
        <form id="comment-form">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="hidden" name="post_id" value="{{post.id}}">
                    <label>Enter comment:</label>
                    <input type="text" id="comment-input" />
                </div>
            </div>
            <button class="btn" type="submit">Add Comment</button>
        </form>
    </div>
</div>

<ul id="comment-list" class="list-group">
    {{#each post.comments}}
    <li class="list-group-item list-item" data-id="{{this.id}}"><button data-id="{{this.id}}"
            class="delete-btn delete-comment delete is-large"></button>
        {{this.text}}
    </li>
    {{/each}}
</ul>

<script src="/js/create-comment.js"></script>